.u-section-1 .u-sheet-1 {
  min-height: 508px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 570px;
  height: 428px;
  margin: 36px 44px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 428px;
}

.u-section-1 .u-text-1 {
  margin: -253px auto 60px 87px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 405px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 255px;
  }
}